{% extends 'base.html' %}

{% block content %}

<form method="post" action=".">{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.old_password.label_tag }}
                    </div>
                    <div class="col-md-6">
                        {{ form.old_password }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.new_password1.label_tag }}
                    </div>
                    <div class="col-md-6">
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.new_password2.label_tag }}
                    </div>
                    <div class="col-md-6">
                        {{ form.new_password2 }}
                    </div>
                </div>
                <button id="pcf" type="submit">PW CHANGE</button>
            </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

</form>
{% endblock %}