#content_pd {border:3px solid black;
                    width: 600px;
                    height: 100%;
                    margin-left: auto;
                    margin-right: auto;}
        h3 {font-family: 'Coda Caption', sans-serif;
            text-align:center;}
        span {font-family: 'Coda Caption', sans-serif;
            color: orange;
            margin-left: 50px;}
        p {}
        #text { }
        #img_pd {width:500px;
            height:500px;
            margin-left: 50px;}